<form id="form-busca-paginas" th:action="@{/link-list/1}" method="GET">

    <h3>Busca</h3>
    
    <label for="assunto">Assunto</label>
    <input type="text" class="form-control" placeholder="assunto" name="assunto" th:value="${#httpServletRequest.getParameter('assunto')}" />

    <label for="url">URL</label>
    <input type="text" class="form-control" placeholder="url" name="url" th:value="${#httpServletRequest.getParameter('url')}" />
    
    <input type="submit" class="btn btn-default" value="Buscar"/>
    
</form>

<table th:if="${page.numberOfElements > 0}" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Job #</th>
            <th>Link #</th>
            <th>URL</th>
            <th>Assunto</th>
            <th>Cliques</th>
            <th>Emails enviados</th>
            <th>Criado em</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="link : ${page.content}">
            <td th:text="${link.job.id}">1</td>
            <td th:text="${link.job.links.indexOf(link) + 1}"></td>
            <td th:text="${link.url}">2.41</td>
            <td th:text="${link.job.mail.subject}">2.41</td>
            <td th:text="${#lists.size(link.clicados)}">2.41</td>
            <td th:text="${link.job.mail.countTotal}">2.41</td>
            <td th:text="${#temporals.format(link.job.criadoem, 'dd/MMM/yyyy HH:mm')}">2.41</td>
        </tr>
    </tbody>
</table>